# Don't add this in hosting service
# development || production || test
NODE_ENV=development

##
PORT=3000

##
### use external url && host is string after @dpg- ending in .com
PG_DATABASE_PROD_URL=postgresql://user:password@dpg-host.com/database?sslmode=verify-full
PG_DATABASE_DEV_URL=postgresql://user:password@host:port/database
PG_DATABASE_TEST_URL=postgresql://user:password@host:port/database

## REDIS
REDIS_PROD_URL=
REDIS_DEV_URL=
REDIS_TEST_URL=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

## LOG LEVELS
# {  error: 0, warn: 1, info: 2, http: 3, verbose: 4, debug: 5, silly: 6 }
LOG_LEVEL=
SOURCE_TOKEN=
INGESTING_HOST=

## JWT SECRETS
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=